.petition-jumbotron {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.petition-jumbotron-content {
  background-color: #2b3e50 !important;
  display: inline-block !important;
  padding: 5px 10px 5px 10px;
}

.petition-jumbotron h1.petition-jumbotron-content {
  margin-top: 35% !important;
}

#jubotron {
  background-image: url("http://i.huffpost.com/gen/2508222/images/o-PETITION-SIGNING-facebook.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}